<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

	<!-- START CONTAINER -->
	<div th:fragment="content" class="container-padding">

		<!-- Start Row -->
		<div class="row">
			<!-- Start Panel -->
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-title">Merchandises</div>
					<div class="panel-body table-responsive">
						<table th:fragment="content" id="merchandises" class="table display">
							<thead>
								<tr>
									<th>Name</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- End Panel -->
		</div>
		<!-- End Row -->



	</div>
	<!-- END CONTAINER -->

	<!-- //////////////////////////////////////////////////////////////////////////// -->

	<script th:fragment="script">
		$(document).ready(function() {
			var table = $('#merchandises').DataTable({
				serverSide : true,
				ajax : 'list',
				iDisplayLength : 100,
				columns : [
					{"data" : "name"}, 
				],
				"order": [[0, 'asc']],
			});
			
			$('#merchandises tbody').on('click', 'a.view-detail',function(){
				var data = table.row( $(this).parents('tr') ).data();
		        window.location="detail?id="+data.id;			

			});

		});
	</script>
</body>
</html>