<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta name="description"
	content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly"></meta>
<meta name="keywords"
	content="bootstrap, admin, dashboard, flat admin template, responsive," />
<title>Inventory</title>
<script type="text/javascript" src="/js/escapeHTML.js"></script>
<!-- ========== Css Files ========== -->
<link href="/css/root.css" rel="stylesheet"></link>
<link href="/css/jquery-ui.css" rel="stylesheet"></link>
<!-- ================================================
jQuery Library
================================================ -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui/jquery-ui.min.js"></script>
<!-- ================================================
Bootstrap Core JavaScript File
================================================ -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<!-- ================================================
Plugin.js - Some Specific JS codes for Plugin Settings
================================================ -->
<script type="text/javascript" src="/js/plugins.js"></script>
<!-- ================================================
Bootstrap Select
================================================ -->
<script type="text/javascript" src="/js/bootstrap-select/bootstrap-select.js"></script>

<!-- ================================================
Bootstrap Toggle
================================================ -->
<script type="text/javascript" src="j/s/bootstrap-toggle/bootstrap-toggle.min.js"></script>

<!-- ================================================
Moment.js
================================================ -->
<script type="text/javascript" src="/js/moment/moment.min.js"></script>
<!-- ================================================
Bootstrap Date Range Picker
================================================ -->
<script type="text/javascript" src="/js/date-range-picker/daterangepicker.js"></script>
<script type="text/javascript" >
<!-- Basic Single Date Picker -->
$(document).ready(function() {
	  $('.date-picker').daterangepicker({ 			
		  singleDatePicker: true,
		  format: "YYYY-MM-DD"
		 }, function(start, end, label) {
	    console.log(start.toISOString(), end.toISOString(), label);
	  });
	});
		
</script>


<!-- ================================================
Sweet Alert
================================================ -->
<script src="js/sweet-alert/sweet-alert.min.js"></script>

<!-- ================================================
Data Tables
================================================ -->

<script src="/js/datatables/datatables.min.js"></script>
<script type="text/javascript" >
$('.selectpicker').selectpicker({
	  style: 'btn-info',
	  size: 4
	});
</script>
<script th:replace="(${layout_content})::script">	
</script>
</head>
<body>
	<!-- Start Page Loading -->
	<div class="loading">
		<img src="/img/loading.gif" alt="loading-img" />
	</div>
	<!-- End Page Loading -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START TOP -->
	<div id="top" class="clearfix">
		<!-- Start App Logo -->
		<div class="applogo">
			<a href="index.html" class="logo">Inventory</a>
		</div>
		<!-- End App Logo -->
	</div>


	<!-- END TOP -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START SIDEBAR -->
	<div class="sidebar clearfix">
		<ul class="sidebar-panel nav">
			<li class="sidetitle">MAIN</li>
			<li><a th:href="${#mvc.url('TC#home').build()}" href="index.html"><span class="icon color5"><i class="fa fa-user-md"></i></span>交易</a></li>				
			<li><a th:href="${#mvc.url('TC#adjust').build()}" href="index.html"><span class="icon color5"><i class="fa fa-user-md"></i></span>调货</a></li>				
			<li><a th:href="${#mvc.url('RC#list').build()}" href="index.html"><span class="icon color5"><i class="fa fa-user-md"></i></span>Reports</a></li>				
			<li><a href="/inventory/view"><span class="icon color5"><i class="fa fa-user-md"></i></span>Inventory</a></li>				
			<li><a href="/item/"><span class="icon color5"><i class="fa fa-user-md"></i></span>商品</a></li>				 
			<li><a href="/supplier/"><span class="icon color5"><i class="fa fa-user-md"></i></span>供应商</a></li>				 
		</ul>
	</div>
	<!-- END SIDEBAR -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START CONTENT -->
	<div class="content">


		<!-- //////////////////////////////////////////////////////////////////////////// -->
		<!-- START CONTAINER -->
		<div class="container-padding"
			th:replace="(${layout_content})::content"></div>
		<!-- END CONTAINER -->
		<!-- //////////////////////////////////////////////////////////////////////////// -->
		<!-- Start Footer -->
		<div class="row footer">
			<div class="col-md-6 text-left">Copyright © 2015 Hou Kot All
				rights reserved.</div>
			<div class="col-md-6 text-right">Design and Developed by Hou
				Kot</div>
		</div>
		<!-- End Footer -->
	</div>
	<!-- End Content -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	
		
          <!-- Trigger -->
          <div id="error"  th:if="${param.containsKey('error_code')}" ></div>

          <!-- Start an Alert -->
          <div id="alerterror" class="kode-alert kode-alert-icon kode-alert-click alert6 kode-alert-top">
            <i class="fa fa-user"></i>
            <span>${{error_msg}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">关闭</a>
          </div>
          <!-- End an Alert -->
          
          	
          <!-- Trigger -->
          <div id="ok"  th:if="${param.containsKey('ok_code')}"></div>

          <!-- Start an Alert -->
					<div id="alertok" class="kode-alert alert3 kode-alert-top-right">
            
            <a href="#" class="closed">×</a>
            <h4>保存成功</h4>
          </div>
          <!-- End an Alert -->
	
	<script >
	/** Alert Position Top  **/
	$(document).ready(function(){
	    $("#error").click(function(){
	        $("#alerterror").fadeToggle(350);
	    });
	    $("#error").click();
	    
	    
	    $("#ok").click(function(){
	        $("#alertok").fadeToggle(350);
	    });
	    $("#ok").click();
	});
	</script>
</body>
</html>