<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

	<!-- START CONTAINER -->
	<div th:fragment="content" class="container-padding">

		<!-- Start Row -->
		<div class="row">
			<!-- Start Panel -->
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-title">List of Reports
					<ul class="panel-tools">
						<li><a class="icon" href="generate" ><i class="fa fa-plus"></i></a></li>
          			</ul>					
					</div>
					<div class="panel-body table-responsive">
						<table th:fragment="content" id="orders" class="table display">
							<thead>
								<tr>
									<th>Inventory</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="generate">Generate End of Month Inventory/a></td>
								</tr>
								<tr>
									<td><a href="view">View Inventory</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- End Panel -->
		</div>
		<!-- End Row -->
	</div>
	<!-- END CONTAINER -->
</body>
</html>