<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

	<!-- START CONTAINER -->
	<div th:fragment="content" class="container-padding">

		<!-- Start Row -->
		<div class="row">
			<!-- Start Panel -->
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-title">Preview End Of Month Inventory Report
					<ul class="panel-tools">
						<li><a class="icon" href="generate" ><i class="fa fa-plus"></i></a></li>
          			</ul>					
					</div>
					<div class="panel-body table-responsive">
						<table th:fragment="content" id="orders" class="table display">
							<thead>
								<tr>
									<th>Item</th>
									<th>Warehouse</th>
									<th>Old Value</th>
									<th>Net</th>
									<th>New Value</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="row : ${report}">
									<td th:text="*{row[0]}"></td>
									<td th:text="*{row[1]}"></td>
									<td th:text="*{row[2]}"></td>
									<td th:text="*{row[3]}"></td>
									<td th:text="*{row[4]}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- End Panel -->
		</div>
		<!-- End Row -->
	</div>
	<!-- END CONTAINER -->
</body>
</html>