<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

	<!-- START CONTAINER -->
	<div th:fragment="content" class="container-padding">
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-title">
			Select Period
        </div>

            <div class="panel-body">
				<form class="form-inline" action="#" method="get">                                                   
                <div class="form-group">
                <label class="form-label">From:</label>
              	<div class="col-sm-8">
                	<select class="selectpicker" name="period" >
                	    <option  th:each="row : ${available}" th:value="*{row}" th:text="*{row}" value="N/A">N/A</option>
                    </select>                  
                  </div>
                </div>
            
                <button type="submit" class="btn btn-default">Select</button>
                <button type="submit" name="delete" class="btn btn-default">Delete</button>
                <button type="submit" name="generate" class="btn btn-default">Generate</button>
              </form>
            </div>

      </div>
    </div>


  </div>
  <!-- End row -->
		<!-- Start Row -->
		<div class="row">
			<!-- Start Panel -->
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-title" th:text="'Inventory Report for Period '+${current_period}">Inventory Report 				
					</div>
					<div class="panel-body table-responsive">
						<table th:fragment="content" id="orders" class="table display">
							<thead>
								<tr>
									<th>Period</th>
									<th>Warehouse</th>
									<th>Item</th>
									<th>Number</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="row : ${report}">
									<td th:text="*{row.period}"></td>
									<td th:text="*{row.warehouse}"></td>
									<td th:text="*{row.item.name}"></td>
									<td th:text="*{row.number}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- End Panel -->
		</div>
		<!-- End Row -->
	</div>
	<!-- END CONTAINER -->
</body>
</html>