<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

	<!-- START CONTAINER -->
	<div th:fragment="content" class="container-padding">
              <form class="form-horizontal"  action="#" th:action="@{/tx/add}" th:object="${orderForm}" method="post">                                                   

		<div class="row">
    

    <div class="col-md-12 col-lg-12">
      <div class="panel panel-default">

        <div class="panel-title">
          New Order
          <ul class="panel-tools">
            <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
            <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
            <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
            <li><button type="submit" name="addItem" value="addItem" >Add row</button></li>
          </ul>
        </div>

            <div class="panel-body">
    
                <div class="form-group">
                  <label class="col-sm-2 control-label form-label">Date</label>
                  <div class="col-sm-10">
                    <input class="form-control form-control-no-line date-picker" th:field="*{date}" type="text" />
                  </div>
                </div>          
                
                <div class="form-group">
                  <label class="col-sm-2 control-label form-label">Supplier</label>
                  <div class="col-sm-10">
                    <input class="form-control form-control-no-line" th:field="*{supplier}" type="text" />
                  </div>
                </div>                
                                
                <div class="form-group">
                  <label class="col-sm-2 control-label form-label">Consumer</label>
                  <div class="col-sm-10">
                    <input class="form-control form-control-no-line" th:field="*{consumer}" type="text" />
                  </div>
                </div>                
                                
                                
                <div class="form-group">
                  <label class="col-sm-2 control-label form-label">Warehouse</label>
                  <div class="col-sm-10">
                    <input class="form-control form-control-no-line" th:field="*{warehouse}" type="text" />
                  </div>
                </div>                
                
                <div class="form-group">
                  <label class="col-sm-2 control-label form-label">Remark</label>
                  <div class="col-sm-10">
                    <input class="form-control form-control-no-line" type="text" th:field="*{remark}" />
                  </div>
                </div>                 

                <div class="form-group"  th:each="row,rowStat : *{items}">
                  <label class="col-sm-2 control-label form-label"  th:text="'Item ' + ${rowStat.count}">Item</label>
                  <div class="col-sm-10">
                    <input class="form-control form-control-no-line"  style="display:inline-block;width:auto" th:field="*{items[__${rowStat.index}__].item}" placeholder="Name" type="text" />
                    <input class="form-control form-control-no-line"  style="display:inline-block;width:auto" th:field="*{items[__${rowStat.index}__].number}" placeholder="Number" type="text" />
                    <input class="form-control form-control-no-line"  style="display:inline-block;width:auto" th:field="*{items[__${rowStat.index}__].price}" placeholder="Price" type="text" />
                     <button type="submit" name="removeItem" class="form-control form-control-no-line" style="display:inline-block;width:auto" th:value="${rowStat.index}">Remove</button>
                  </div>
                </div>                 


               <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </div>
    
            </div>

      </div>
    </div>
  </div>
  <!-- End Row -->

  </form>
	</div>
	<!-- END CONTAINER -->
</body>
</html>