<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

	<!-- START CONTAINER -->
	<div th:fragment="content" class="container-padding">

		<!-- Start Row -->
		<div class="row">
			<!-- Start Panel -->
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-title">Transaction
					<ul class="panel-tools">
						<li><a class="icon" th:href="${#mvc.url('TC#addForm').build()}"><i class="fa fa-plus"></i></a></li>
          			</ul>
					
					</div>
					<div class="panel-body table-responsive">
						<table th:fragment="content" id="orders" class="table display">
							<thead>
								<tr>
									<th>Item Name</th>
									<th>Number</th>
									<th>Price</th>
									<th>Supplier</th>
									<th>Consumer</th>
									<th>Warehouse</th>
									<th>Remark</th>
									<th>Created On</th>
									<th width="5%">Action</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- End Panel -->
		</div>
		<!-- End Row -->



	</div>
	<!-- END CONTAINER -->

	<!-- //////////////////////////////////////////////////////////////////////////// -->

	<script th:fragment="script">
		$(document).ready(function() {
			var table = $('#orders').DataTable({
				serverSide : true,
				ajax : 'list',
				iDisplayLength : 100,
				columns : [
				{"data" : "item", "orderable": false}, 
				{"data" : "number", "orderable": false}, 
				{"data" : "price",  "orderable": false}, 
				{"data" : "supplier"}, 
				{"data" : "consumer"}, 
				{"data" : "warehouse"}, 
				{"data" : "remark",  "orderable": false}, 
				{"data" : "createdOn"}, 
		        {
	                "class":          "details-control",
	                "orderable":      false,
	                "data":           null,
	                "defaultContent": '<a class="view-detail btn">详情</a> ' 
	            },					
      				
				],
				"order": [[7, 'desc']],
			});
			
			$('#orders tbody').on('click', 'a.view-detail',function(){
				var data = table.row( $(this).parents('tr') ).data();
		        window.location="detail?id="+data.id;			

			});


			
		});

		
	</script>
</body>
</html>