<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

	<!-- START CONTAINER -->
	<div th:fragment="content" class="container-padding">

		<!-- Start Row -->
		<div class="row">
			<!-- Start Panel -->
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-title">Transaction
					<ul class="panel-tools">
						<li><a class="icon" th:href="${#mvc.url('TC#addForm').build()}"><i class="fa fa-plus"></i></a></li>
          			</ul>
					
					</div>
					<div class="panel-body table-responsive">
						<table th:fragment="content" id="orders" class="table display">
							<thead>
								<tr>
									<th width="10%">交易于</th>
									<th>商品名</th>
									<th width="5%">数量</th>
									<th width="5%">价钱</th>
									<th width="10%">供应商</th>
									<th>消费者</th>
									<th width="10%">倉库</th>
									<th width="5%"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- End Panel -->
		</div>
		<!-- End Row -->



	</div>
	<!-- END CONTAINER -->

	<!-- //////////////////////////////////////////////////////////////////////////// -->

	<script th:fragment="script">
		$(document).ready(function() {

			$('#orders thead th').each( function () {
        		var title = $(this).text();
        		var width = $(this).width();
        		var insert = true;
        		if (title == "数量") insert = false;
        		if (title == "价钱") insert = false;
        		if (title == "交易于") insert = false;
        		if(insert)
        			$(this).html( '<input style="width: '+ width + 'px; border-bottom:0" class="form-control form-control-line" type="text" placeholder="'+title+'" />' );
    		} );
			var table = $('#orders').DataTable({
				serverSide : true,
				ajax : 'list',
//				iDisplayLength : 100,
				columns : [
				{"data" : "createdOn", 'searchable': false}, 
				{"data" : "item", "orderable": false, width: "40%"}, 
				{"data" : "number", "orderable": false , 'searchable': false}, 
				{"data" : "price",  "orderable": false , 'searchable': false}, 
				{"data" : "supplier"}, 
				{"data" : "consumer"}, 
				{"data" : "warehouse"}, 
		        {
	                "class":          "details-control",
	                "orderable":      false,
	                "data":           null,
	                "defaultContent": '<a class="view-detail btn">详情</a> ' 
	            },					
      				
				],
				"order": [[0, 'desc']],
			});
			
			$('#orders tbody').on('click', 'a.view-detail',function(){
				var data = table.row( $(this).parents('tr') ).data();
		        window.location="detail?id="+data.id;			

			});
			
    		// Apply the search
    		table.columns().every( function () {
        		var that = this;
		        $( 'input', this.header() ).on( 'keyup change', function () {
            		if ( that.search() !== this.value ) {
                	that
                    	.search( this.value )
                    	.draw();
            		}
        		} );
    		} );		
		});
	</script>
</body>
</html>